 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1267px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 50px 121px 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 693px;
  margin-top: 41px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 8px 263px 0 auto;
  padding: 0 69px;
}

.u-section-1 .u-group-1 {
  width: 614px;
  min-height: 137px;
  height: auto;
  margin: -59px auto 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 385px 0 12px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -32px 278px 0 244px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7px 385px 0 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -32px 267px 0 244px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7px 385px 0 12px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -32px 267px 0 244px;
}

.u-section-1 .u-image-1 {
  width: 244px;
  height: 136px;
  margin: -136px 10px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -56px 261px 0 auto;
  padding: 3px 84px;
}

.u-section-1 .u-group-2 {
  min-height: 524px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 434px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 10px 293px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 10px 0 auto;
  padding: 10px 19px;
}

.u-section-1 .u-text-8 {
  margin: -33px 586px 0 11px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 244px;
  height: 136px;
  margin: 10px 11px 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -136px 263px 0 auto;
  padding: 0 69px;
}

.u-section-1 .u-group-3 {
  width: 614px;
  min-height: 137px;
  height: auto;
  background-image: none;
  margin: -59px auto 0 10px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 13px 94px 0 324px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: -32px 297px 0 222px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 396px 0 1px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: -31px -1px 0 521px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 3px -1px 0 521px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -29px 101px 0 -1px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: -32px 298px 0 222px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -35px 94px 0 324px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 94px 0 324px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  margin: -32px 298px 0 222px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 396px 0 1px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: -31px -1px 0 521px;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 5px;
  transform-origin: center top 0px;
  position: absolute;
  height: 123px;
  width: 3px;
  right: 293px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -58px 265px 0 auto;
  padding: 3px 84px;
}

.u-section-1 .u-image-4 {
  width: 1125px;
  height: 419px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-21 {
  margin: 15px 339px 0 15px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -25px 11px 0 auto;
  padding: 10px 91px 10px 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -114px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 243px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 5px;
    margin-right: 90px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 243px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -145px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -11px;
    margin-right: 61px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 358px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 287px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 397px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 63px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 65px;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 350px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 154px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-image-2 {
    height: 274px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    margin-left: 155px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 5px;
    margin-right: 498px;
    margin-left: 7px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 268px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 191px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -242px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -94px;
    margin-right: 241px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 230px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 230px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -81px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -75px;
  }

  .u-section-1 .u-image-2 {
    height: 206px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    padding: 10px 18px 10px 17px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 11px;
    margin-right: 315px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 57px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 260px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 484px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 484px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 64px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 261px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 57px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 57px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 261px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 484px;
  }

  .u-section-1 .u-btn-6 {
    padding-bottom: 11px;
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 141px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 130px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 130px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -401px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 245px;
  }

  .u-section-1 .u-image-2 {
    height: 130px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 64px;
    margin-right: 0;
    margin-left: auto;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -95px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 73px;
    margin-right: 119px;
    margin-left: 6px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 160px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 384px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 384px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 161px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 161px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 384px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 127px;
  }
}