 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-tabs-1 {
  min-height: 743px;
  margin-top: 21px;
  margin-bottom: 4px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-1 .u-group-1 {
  width: 344px;
  min-height: 481px;
  background-image: none;
  margin: 16px auto 0 13px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 5px;
  transform-origin: center top 0px;
  position: absolute;
  height: 123px;
  width: 3px;
  right: 293px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 40px 127px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 127px 0 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 20px 0 222px;
}

.u-section-1 .u-group-2 {
  width: 738px;
  min-height: 480px;
  background-image: none;
  margin: -480px 13px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-line-2 {
  left: auto;
  top: 5px;
  transform-origin: center top 0px;
  position: absolute;
  height: 123px;
  width: 3px;
  right: 293px;
}

.u-section-1 .u-text-26 {
  margin: 4px 2px 0 5px;
}

.u-section-1 .u-text-27 {
  margin: 40px 3px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 7px 309px 0 auto;
  padding: 0 102px 0 100px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -58px 11px 0 auto;
  padding: 2px 107px 4px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -54px auto 0 17px;
  padding: 2px 9px 3px 7px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-28 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-image-1 {
  width: 1125px;
  height: 225px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  margin: 17px 710px 0 5px;
}

.u-section-1 .u-video-1 {
  width: 668px;
  height: 269px;
  margin: -153px 15px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  margin: -94px 715px 0 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-3 {
  min-height: 782px;
  margin-top: 0;
  margin-bottom: -151px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 74px;
}

.u-section-1 .u-image-2 {
  width: 758px;
  height: 616px;
  margin: 5px auto 0 173px;
}

.u-section-1 .u-btn-4 {
  margin: 8px auto 0 173px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 432px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -41px 197px 0 auto;
  padding: 10px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 775px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-1 .u-group-1 {
    min-height: 501px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-group-2 {
    width: 571px;
    min-height: 501px;
    margin-top: -501px;
    margin-right: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 31px;
    margin-right: 9px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: 302px;
    padding-left: 88px;
    padding-right: 88px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -59px;
    padding: 4px 104px 5px 103px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -60px;
    margin-left: 13px;
    padding: 4px 41px 5px 39px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 188px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 515px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    height: 270px;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: -447px;
    margin-right: 15px;
    margin-left: 500px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 30px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 70px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 9px;
    margin-left: 85px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -46px;
    margin-right: 315px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -42px;
    margin-right: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1250px;
    margin-bottom: 9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: -7px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 124px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 144px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 295px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -160px;
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-3 {
    min-height: 669px;
    width: 711px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 698px;
    height: 585px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 24px;
    margin-left: 9px;
    padding: 4px 11px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -38px;
    margin-right: 232px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -43px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-line-1 {
    transform-origin: right center 0px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-line-2 {
    transform-origin: right center 0px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: 181px;
    margin-left: auto;
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 11px;
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -60px;
    margin-left: 4px;
    padding-top: 5px;
    padding-right: 11px;
    padding-left: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 108px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 115px;
  }

  .u-section-1 .u-video-1 {
    height: 218px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-30 {
    margin-top: -337px;
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-group-3 {
    min-height: 580px;
    width: 534px;
    margin-top: 6px;
  }

  .u-section-1 .u-image-2 {
    height: 435px;
    width: 501px;
    margin-top: 11px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 66px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -89px;
    margin-right: 15px;
    padding: 10px 18px 10px 17px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 87px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 18px;
    margin-left: 220px;
  }

  .u-section-1 .u-group-2 {
    min-height: 618px;
    margin-top: -56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 68px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    height: 137px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    font-size: 0.875rem;
    margin-top: -256px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
    min-height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 287px;
    width: 319px;
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 119px;
    margin-right: 2px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 17px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -153px;
    margin-right: 0;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 11px;
    margin-right: 6px;
    margin-left: auto;
  }
}