.u-section-1 .u-sheet-1 {
  min-height: 90px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 31px 843px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 643px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 43px;
    margin-bottom: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 367px;
}

.u-section-2 .u-image-1 {
  width: 392px;
  height: 291px;
  margin: 50px auto 0 316px;
}

.u-section-2 .u-image-2 {
  width: 291px;
  height: 291px;
  margin: -291px 72px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -283px 893px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 39px 884px 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-image-1 {
    width: 309px;
    height: 245px;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -246px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -238px;
    margin-right: 673px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 662px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-image-1 {
    width: 232px;
    height: 184px;
    margin-top: 11px;
    margin-right: 199px;
  }

  .u-section-2 .u-image-2 {
    width: 184px;
    height: 184px;
    margin-top: -184px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -189px;
    margin-right: 462px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-2 {
    margin-top: -471px;
    margin-right: 72px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -113px;
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -142px;
    margin-right: 282px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    margin-right: 108px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -355px;
    margin-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -114px;
    margin-right: 93px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
    margin-right: 82px;
  }
}