.u-section-1 .u-sheet-1 {
  min-height: 104px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 31px 843px 34px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 643px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 43px;
    margin-bottom: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 391px;
}

.u-section-2 .u-form-1 {
  height: 377px;
  width: 150px;
  margin: 0 840px 0 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-image-1 {
  width: 392px;
  height: 291px;
  margin: -363px auto 60px 150px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 470px;
    margin-right: 790px;
  }

  .u-section-2 .u-image-1 {
    height: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-right: 390px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-right: 190px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 252px;
    margin-left: 0;
  }
}